<a href="https://colab.research.google.com/github/Tanuka-Mondal/Machine-Learning/blob/main/decision_tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("car_evaluation.csv")
data.head()

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [4]:
data.shape

(1727, 7)

In [5]:
cols = ['price', 'maintainance_cost', 'doors', 'persons', 'lug_boot', 'safety', 'class']

In [6]:
data.columns = cols

In [7]:
data.head()

   price maintainance_cost doors persons lug_boot safety  class
0  vhigh             vhigh     2       2    small    med  unacc
1  vhigh             vhigh     2       2    small   high  unacc
2  vhigh             vhigh     2       2      med    low  unacc
3  vhigh             vhigh     2       2      med    med  unacc
4  vhigh             vhigh     2       2      med   high  unacc

In [8]:
for col in cols:   
    print(data[col].value_counts())

high     432
med      432
low      432
vhigh    431
Name: price, dtype: int64
high     432
med      432
low      432
vhigh    431
Name: maintainance_cost, dtype: int64
3        432
4        432
5more    432
2        431
Name: doors, dtype: int64
4       576
more    576
2       575
Name: persons, dtype: int64
med      576
big      576
small    575
Name: lug_boot, dtype: int64
med     576
high    576
low     575
Name: safety, dtype: int64
unacc    1209
acc       384
good       69
vgood      65
Name: class, dtype: int64

In [9]:
data.isnull().sum()

price                0
maintainance_cost    0
doors                0
persons              0
lug_boot             0
safety               0
class                0
dtype: int64

In [11]:
!pip install --upgrade category_encoders

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting category_encoders
  Downloading category_encoders-2.5.1.post0-py2.py3-none-any.whl (72 kB)
     |████████████████████████████████| 72 kB 819 kB/s
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.21.6)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.12.2)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.3)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.3.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.7.3)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.0.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.5->category_encoders) (2022.4)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.2.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.5.1.post0

In [12]:
import category_encoders as ce

In [13]:
encoder = ce.OrdinalEncoder(cols=['price', 'maintainance_cost', 'doors', 'persons', 'lug_boot', 'safety', 'class'])

In [14]:
data = encoder.fit_transform(data)

In [15]:
data.head()

   price  maintainance_cost  doors  persons  lug_boot  safety  class
0      1                  1      1        1         1       1      1
1      1                  1      1        1         1       2      1
2      1                  1      1        1         2       3      1
3      1                  1      1        1         2       1      1
4      1                  1      1        1         2       2      1

In [16]:
for col in cols:   
    print(data[col].value_counts())

2    432
3    432
4    432
1    431
Name: price, dtype: int64
2    432
3    432
4    432
1    431
Name: maintainance_cost, dtype: int64
2    432
3    432
4    432
1    431
Name: doors, dtype: int64
2    576
3    576
1    575
Name: persons, dtype: int64
2    576
3    576
1    575
Name: lug_boot, dtype: int64
1    576
2    576
3    575
Name: safety, dtype: int64
1    1209
2     384
4      69
3      65
Name: class, dtype: int64

In [17]:
newdata = data.drop(['class'], axis=1)
target = data['class']

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
X_train, X_test, y_train, y_test = train_test_split(newdata, target, test_size = 0.2, random_state = 42)

In [20]:
from sklearn import tree

In [21]:
model = tree.DecisionTreeClassifier()

In [22]:
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [23]:
model.predict(X_test)

array([1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1,
       2, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 4, 1, 1, 4, 1, 1, 3, 2, 4, 1, 1,
       4, 3, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 3,
       1, 1, 2, 1, 3, 1, 1, 1, 1, 2, 1, 1, 1, 1, 3, 1, 1, 2, 1, 2, 1, 1,
       2, 2, 1, 4, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 4, 2, 1, 1, 2,
       1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 2, 2, 1, 2, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 2, 1, 1, 2, 1, 2, 3, 1, 1,
       1, 1, 1, 1, 1, 1, 2, 2, 1, 4, 1, 3, 2, 2, 1, 3, 2, 1, 4, 1, 2, 2,
       3, 1, 2, 1, 2, 1, 1, 2, 4, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 2, 1,
       1, 1, 1, 1, 1, 3, 1, 2, 1, 2, 1, 4, 1, 1, 2, 1, 1, 1, 1, 1, 1, 3,
       3, 1, 1, 2, 3, 2, 2, 2, 1, 1, 2, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 2, 1, 4, 1,
       1, 1, 2, 2, 1, 1, 1, 1, 2, 1, 2, 2, 2, 4, 1, 1, 1, 4, 1, 2, 2, 2,
       1, 4, 3, 1, 4, 1, 1, 1, 2, 3, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1,
       2, 1, 3, 1, 1, 1, 1, 2, 2, 2, 1, 1, 2, 1, 1, 1, 1, 1, 4, 2, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1])

In [24]:
model.score(X_test, y_test)

0.9653179190751445